<h1>Autorzy</h1>

<table>
  <tr>
    <th>Imię</th>
    <th>Opis</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @authors.each do |author| %>
  <tr>
    <td><%= link_to author.name, :controller => "authors", :action => "show", :id => author.id %></td>
    <td><%= author.description %></td>
	<% if current_user %>
    <td><%= link_to 'Pokaż', author, :class=>"btn btn-info" %></td>
    <td><%= link_to 'Edytuj', edit_author_path(author), :class=>"btn btn-warning" %></td>
    <td><%= link_to 'Usuń', author, method: :delete, data: { confirm: 'Jesteś pewien?' }, :class=>"btn btn-danger" %></td>
	<% end %>
  </tr>
<% end %>
</table>
<%= will_paginate @authors, :previous_label => 'Poprzednia', :next_label => 'Następna'  %>
<br />
<% if current_user %>
<%= link_to 'Nowy autor', new_author_path, :class=>"btn btn-primary" %>
<% end %>