<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @author.name %>
</p>

<p>
  <b>Description:</b>
  <%= @author.description %>
</p>
<p>
  <b>Ksiazki:</b>
</p>

<table>
  <tr>
    <th>Tytuł</th>
    <th>Opis</th>
    <th>Isbn</th>
    <th>Rok</th>
    <th>Kategoria</th>
  </tr>

<% @author.books.each do |book| %>
  <tr>
    <td><%= link_to book.title, :controller => "books", :action => "show", :id => book.id %></td>
    <td><%= link_to book.description, :controller => "books", :action => "show", :id => book.id %></td>
    <td><%= link_to book.isbn, :controller => "books", :action => "show", :id => book.id %></td>
    <td><%= link_to book.year, :controller => "books", :action => "show", :id => book.id %></td>
    <td>
    <% book.categories.each do |category| %>
    <%= link_to category.name, :controller => "categories", :action => "show", :id => category.id %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>

<% if current_user %>
<%= link_to 'Edytuj', edit_author_path(@author), :class=>"btn btn-warning"  %>
<% end %>
