<%# encoding: utf-8 %>
<h1>Książki</h1>

<table width=100%>
	<tr>
		<th>Tytuł</th>
		<th>Opis</th>
		<th>ISBN</th>
		<th>Rok</th>
		<th>Autor</th>
		<th>Kategoria</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

	<% @books.each do |book| %>
	<tr>
		<td><%= link_to book.title, :controller => "books", :action => "show", :id => book.id %></td>
		<td><%= truncate(book.description, :length => 100) %></td>
		<td><%= book.isbn %></td>
		<td><%= book.year %></td>
		<td>
			<% book.authors.each do |author| %>
			<%= link_to author.name, :controller => "authors", :action => "show", :id => author.id %>
			<% end %>
		</td>
		<td>
			<% book.categories.each do |category| %>
			<%= link_to category.name, :controller => "categories", :action => "show", :id => category.id %>
			<% end %>
		</td>
		<% if current_user %>
		<td class="btn-small"><%= link_to 'Pokaż', book, :class=>"btn btn-small btn-info" %></td>
		<td><%= link_to 'Edytuj', edit_book_path(book), :class=>"btn btn-small btn-warning" %></td>
		<td><%= link_to 'Usuń', book, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-small btn-danger"  %></td>
		<% end %>
	</tr>
	<% end %>
</table>

<br />

<% if current_user %>
	<%= link_to 'Dodaj', new_book_path, :class=>"btn btn-primary"  %>
<% end %>