<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Description:</b>
  <%= @book.description %>
</p>

<p>
  <b>Isbn:</b>
  <%= @book.isbn %>
</p>

<p>
  <b>Year:</b>
  <%= @book.year %>
</p>
<p>
<b>Autorzy:</b>
<% @book.authors.each do |author| %>
    <%= link_to author.name, :controller => "authors", :action => "show", :id => author.id %>
<% end %>
</p>

<p>
<b>Kategorie:</b>
<% @book.categories.each do |category| %>
    <%= link_to category.name, :controller => "categories", :action => "show", :id => category.id %>
<% end %>
</p>

<% if current_user %>
<%= link_to 'Edytuj', edit_book_path(@book), :class=>"btn btn-warning" %>
<% end %>