<p id="notice"><%= notice %></p>

<p>
  <b>Tytuł:</b>
  <%= @book.title %>
</p>

<p>
  <b>Opis:</b>
  <%= @book.description %>
</p>

<p>
  <b>ISBN:</b>
  <%= @book.isbn %>
</p>

<p>
  <b>Rok:</b>
  <%= @book.year %>
</p>
<p>
<b>Autorzy:</b>
<% @book.authors.each do |author| %>
    <%= link_to author.name, :controller => "authors", :action => "show", :id => author.id %>
<% end %>
</p>

<p>
<b>Kategorie:</b>
<% @book.categories.each do |category| %>
    <%= link_to category.name, :controller => "categories", :action => "show", :id => category.id %>
<% end %>
</p>
<% if current_user %>
<td><%= link_to 'Wypożycz', new_book_borrow_path(:book_id => @book.id), :class=>"btn btn-small btn-info" %></td>


<% if (current_user.permissions=="admin") %>
<td><%= link_to 'Edytuj', edit_book_path(@book), :class=>"btn btn-small btn-warning" %></td>
<td><%= link_to 'Usuń', @book, method: :delete, data: { confirm: 'Jesteś pewien?' }, :class=>"btn btn-small btn-danger"  %></td>
<% end %>
<% end %>