<h1>Kategorie</h1>

<table>
  <tr>
    <th>Nazwa</th>
    <th>Opis</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= link_to category.name, :controller => "categories", :action => "show", :id => category.id %></td>
    <td><%= truncate(category.description, :length => 250) %></td>
	<% if current_user %>
    <td><%= link_to 'Pokaż', category, :class=>"btn btn-info" %></td>
    <td><%= link_to 'Edytuj', edit_category_path(category), :class=>"btn btn-warning" %></td>
    <td><%= link_to 'Usuń', category, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger" %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<% if current_user %>
<%= link_to 'Nowa kategoria', new_category_path, :class=>"btn btn-primary" %>
<% end %>