<%# encoding: utf-8 %>
<!DOCTYPE html>
<html>
<head>
	<title>Library</title>
	<%= stylesheet_link_tag    "css/bootstrap"%>
	<%= javascript_include_tag "js/bootstrap" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div id="top">
	<div id="left_top">
		<div id="logo">
		<a href="#"><%= image_tag("logo.png") %></a>
		</div>
	</div>
	<div id="right_top">
		<div id="buttons">
			<a href="#"><%= image_tag("button1.jpg") %></a>
			<a href="#"><%= image_tag("button2.jpg") %></a>
			<a href="#"><%= image_tag("button3.jpg") %></a>
		</div>
		<div id="search">
			<div id="search-text">SZUKAJ W KATALOGU</div>
			<form action='/search'>
  			 <input name="query" type="text" />
			<input type="image" onclick="submit();" src="<%= asset_path("button_search.jpg") %>"/>
  		</form>
						</div>
		</div>
	</DIV>
		<div class="navbar">
		<div class="navbar-inner">
		<div class="container" style="width: auto;">
			<ul class="nav">
				<li>
				<%= link_to "Library", {:controller=>"home", :action=>"index"}, :class => "brand" %>
				</li>
				<li>
					<%= link_to "WYSZUKIWANIE", :controller=>"home", :action=>"index" %>
				</li>
				<li>
					<%= link_to "MOJE KONTO", :controller=>"home", :action=>"about" %>
				</li>
				<li>
					<%= link_to "POMOC", :controller=>"home", :action=>"about" %>
				</li>
			</ul>
		</div>
		</div>
		</div>
		<div class="row">
			<div class="sidebar span3">
				<ul class="nav nav-list">
					<li class="nav-header">Książki</li>
					<li>
						<%= link_to "Według tytułów", :controller => "books", :action => "index" %>
					</li>
					<li>
						<%= link_to "Według autorów", :controller => "authors", :action => "index" %>
					</li>
					<li>
						<%= link_to "Według kategorii", :controller => "categories", :action => "index" %>	
					</li>
					<li class="nav-header">Filmy</li>
					<li><a>test</a></li>
					<li><a>test</a></li>
				</ul>
				<ul class="nav nav-list">
					<% if current_user %>
					<li class="nav-header">Konto <%= current_user.email %></li>
					<li>
					 <% if current_user.permissions == "admin" %>
					   <%= link_to "Wszystkie wypożyczenia", {:controller => "borrows", :action => "admin"} %>
					 <% end %>
						<%= link_to "Moje wypożyczenia", borrows_path %>
						<%= link_to "Wyloguj", log_out_path %>
					</li>
					<% else %>
					<li class="nav-header">Konto</li>
					<li>
						<%= link_to "Zaloguj", log_in_path %>
					</li>
					<li>
						<%= link_to "Zarejestruj", sign_up_path %>
					</li>
					<% end %>
				</ul>
			</div>
			<div class="main span9">
				<ul class="breadcrumb">
					<li>
						<%= get_bread_crumb(request.fullpath) %>
					</li>
				</ul>

				<%= yield %>
				<% flash.each do |name, msg| %>
					<%= content_tag :div, msg, :id => "flash_#{name}" %>
				<% end %>
			</div>
		</div>
	</div>
</body>
</html>
